body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



#header{
    margin: 1.875rem 7.5rem 0 7.5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 0.5rem;
    
}


#navitems {
   display: flex;
   gap: 2rem;
   font-weight: 400;
   font-size: 17px;

}

#green {
    width: 50vw;
}


#green div {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.5rem;
    color: white;
}

#sideimg {
    height: 93.5vh;
}


#copy{
    padding-top: 10rem;
    padding-left: 7.5rem;
}

#green {
    background-color: #2DB775;

}

#subcopy{
    padding-top: 2.5rem;
    padding-left: 7.5rem;
    color: white;
}

#hero{
    display: flex;
    flex-direction: row;
}



#sideimg{
    float: right;
    overflow: hidden;
}


#stores {
    padding-left: 7.5rem;
}

#hero div span{
    padding-left: 7.5rem;
    color: white;
    font-size: 1.1rem;
    letter-spacing: .2rem;
    font-weight: 400;
}

#blue {
    background-color: #4f5cd1;
    color: white;
    height: 15.2rem;
    overflow: hidden;
    position: relative;
}

#earn {
    position: absolute;
    padding-top: 5.1rem;
    padding-left: 21rem;
    font-weight: 600;
}

#sub-earn {
    position: absolute;
    padding-top: 8.5rem;
    padding-left: 21rem;
}

#signup {
    float: right;
    background-color: white; 
    color: black;
    padding: 1.2rem 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border-style: none;
    border-radius: 100rem;
    margin-left: 60rem;
    margin-top: 7rem;
    position: absolute;
}


#LCircle {
    position: absolute;
    padding-left: 7.5rem;
    height: auto;
    max-height: 100%;

    
}

#SCircle {
    padding-bottom: 11.2rem;
    float: right;
    padding-right: 2rem;
    max-height: 100%;
}


#earn {
    position: absolute;
    font-size: 2rem;
}

#microcopy {
    position: absolute;
    font-size: 1.125rem;
    font-weight: 200;
    padding-top: 4rem;
}


#grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 12rem;
    padding-top: 4rem;
    padding-left: 7.5rem;
}

