body {
    font-family: 'Poppins', sans-serif;
}



#header{
    margin: 1.875rem 7.5rem 0 7.5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}


#navitems {
   display: flex;
   gap: 1.5rem;
   font-weight: 300;
}

#copy {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 5rem;
}


#hero{
    margin: 1.875rem 0rem 0 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sideimg{
    float: right;
}